<style>
    .navT {
        color: #9d9d9d;
        background-color: #222;
        border: 0px;
        padding: 15px;
    }

    .navT:hover {
        color: white;
        font-weight: 500;
        background-color: #737373;
    }
    .homebutton{
        color: #9d9d9d;
        background-color: #222;
        border: 0px;
        padding: 15px;
    }
    .homebutton:hover{
        color: white;
        background-color: #737373;
        font-weight: 500;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <input type="button" value="CENTRALR" class="homebutton"/>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CLIENTE<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Importar", "Upload", "Cliente")</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">AGENDAMENTO DE CONSULTA<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Importar", "Upload", "AgendamentoConsulta")</li>
                        <li>@Html.ActionLink("Consultar", "Search", "AgendamentoConsulta")</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">AGENDAMENTO DE PROCEDIMENTO<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Importar", "Upload", "AgendamentoConsulta")</li>
                        <li>@Html.ActionLink("Consultar", "Search", "AgendamentoConsulta")</li>
                    </ul>
                </li>
                @if (Session["Administrador"]!=null)
                {
                    bool acesso = (bool)Session["Administrador"];
                    if (acesso == true)
                    {
                        <li>
                            @Html.ActionLink("USUÁRIOS", "Index", "Usuario")
                        </li>
                    }
                }
                <li>
                    <form action="/Home/LogOff" method="post">
                        <input type="submit" class="navT" value="SAIR" id="btnLogOff" name="btnLogOff"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>